.categoryBannerItem {
    padding-bottom: 80%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: #ffffff;
    position: relative;


    h4 {
        font-size: 2.4vw;
    }


}

.bannerOverLay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, rgb(100, 100, 100, 0.4), transparent);
}

.BannerItemContent {
    position: absolute;
    bottom: 0;
    padding: 32px;

    .ViewLink {
        color: #ffffff;
        font-size: medium;
    }
}